<div class="curvetop">
    <div class="footer">
        <div class="top">
            <div class="image"><img src="/assets/images/Logo (4).png" alt=""></div>
            <h4>Upgrade your events experience</h4>
            <button class="btn btn-primary">Get Started</button>
        </div>
        <hr>
        <div class="bottom">
            <ul>
                <li><a href="">Privacy Policy</a> </li>
                <li><a href="">Terms and Conditions</a> </li>
                <li><a href="">Contact</a> </li>
            </ul>
            <p>Copyright ® 2022. Events inc. All rights reserved</p>
        </div>
    </div>
</div>