
.footer{
    // position: fixed;
    // bottom: 0px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    background: #1C2B66;
    width: 100%;
    min-height: 200px;
    z-index: 2;
    border-radius: 13em/3em;

    .top{
        // padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image{
            max-width: 200px;
            img{
                width: 100%;
            }
        }
        h4{
            text-align: center;
            margin: 0;
            padding: 0;
        }
        button{
            color: #1C2B66;
            background: #fff;
            font-weight: 500;
        }  
    }
    
    .bottom{
        display: flex;
        flex-direction: column;
        background-color: #1C2B66;

  ul{
  overflow: hidden;
    li{
        float: left;
        list-style-type: none;
        padding: 0 10px;
        a{
            text-decoration: none;
            color: #fff; 
        }
    }
  }   
  p{
    text-align: center;
    margin: 0;
    padding: 0;
  }
    }
}
// .curvetop{
//     background-color:#1C2B66;
//     position: fixed;
//     bottom: 0px;
//     height: 50px;
//     width: 100%;

// }
