<div class="rar">
  
    <div class="rar__table table-responsive">
      <table class="rar__table-table table">
        <thead class="rar__table-head">
          <tr>
            <th scope="col"></th>
            <th scope="col">EVENT</th>
            <th scope="col">SOLUTION</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">REQUEST DATE</th>
            <th scope="col">STATUS</th>
  
            <!-- <th scope="col">
              <mat-icon>delete</mat-icon>
            </th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of specialRequests; index as i" class="rar__row">
            <th scope="row">{{i + 1}}</th>
            <td class="rar__column">{{invoice.eventName}}</td>
            <td class="rar__column">{{ invoice.solutionName }}</td>
            <td class="rar__column">{{ invoice.description | slice:0:30 }}...</td>
            <td class="rar__column">{{ invoice.requestDate |split: "T": 0}}</td>
            <td class="rar__column">{{ invoice.status }}</td>
  
            <!-- <td class="rar__column">
              <mat-icon>more_horiz</mat-icon>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
