
// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "Roboto", sans-serif;
//   }
  .main {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 90vh;
    background-color: #fff;
    overflow:auto;
    bottom: 0;
    position: fixed;
    // padding: 2rem;

  }
  .image {
    position: relative;
  }
  .image > img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
  }
  
  .header {
    background-image: url('/assets/images/bg.png');
    background-repeat: no-repeat;
    background-size:cover;
  
    width: 100%;
    object-fit: cover;
    /* position: relative; */
  
    height: 370px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner {
    margin: 0 auto;
  }
  .title {
    top: 50;
    margin-top: 20%;
  }
  .title > h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
  }
  .text {
    margin-top: 10px;
    text-align: center;
    color: lightgray;
    font-size: 17px;
    text-transform: initial;
    font-weight: 100;
  }
  .cta {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    padding: 0.6em 2em;
    border-radius: 20px;
    color: black;
  
    font-size: 1em;
    border: 0;
    cursor: pointer;
  }
  .btn-monthly {
    z-index: 10;
  }
  .btn-annually {
    background: #1c2b66;
    margin-left: -30px;
    color: #fff;
  }
  .pricing {
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    border: 1px solid;
    padding: 20px;
    width: 300px;
    border-radius: 9px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    margin-left: 15px;
  }
  .card-title > h3 {
    font-size: 20px;
  }
  .card-title > p {
    font-size: 26px;
    margin-top: 10px;
  }
  .card-title > h4 {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 200;
  }
  span {
    font-size: 15px;
  }
  .list {
    /* margin-left: 10px; */
    margin-top: 20px;
    // list-style: none;
  }
  li {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
  }
  .card-btn {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    color: black;
    background: white;
    font-size: 1em;
    cursor: pointer;
  }
  .card-btn:hover{
    background-color: #1c2b66;
    color: #fff;
  }
  .color-card {
    background-color: #1c2b66;
    color: white;
  }

  .detailclass{
    background-image: url('/assets/images/bg.png');
    background-size: cover;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
    .inner{
      display: flex;
      flex-direction: column;
      border: 2px solid;
      max-width: 50%;
      justify-content: center;
      align-items: center;
      padding: 50px;
      h1{
        letter-spacing: 5px;
    }
    ul{
    }
    li{
        font-size: 20px;
        font-weight: 500;
    }
    }
    
  }
  .paymentOptionGroup{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    padding: 0 10px;
    justify-content: space-between;
}
.paymentOptionGroup img{
    width: 50%;
}
.paymentOption{

}
.paymentGateway{
    margin:10px;
}
.paymentGateway label{
    margin-left: 10px;
    font-weight: 600;
font-size: 15px;
}
.paymentGateway input{
    opacity: 0.5;

}
.paymentGateway img{
    width: 25px;
    margin-right: 5px;
}
.amount{
    display: flex;
    justify-content: center;
}
.amount p{
    margin-top: 30px;
}
.amount .enterAmount{
    display: flex;
    flex-direction: column;

}
.amount .enterAmount input{
    border: 0.5px solid rgba(0, 0, 0, 0.15);
border-radius: 10px;
outline-color: #007AFF;
width: 300px;
height: 45px;
padding: 10px;
}
.amount .enterAmount button{
    background: #2FA84F;
border-radius: 10px;
width: 300px;
height: 45px;
border: 0;
}
.amount .enterAmount >*{
    margin: 5px ;
}
.modal-footer {
    text-align:left;
}
.closebtn{
    text-align: right;
}
.closebtn button{
    margin: 10px;
    background-color: #fff;
    color: #373737;
    font-weight: 600;
    font-size: 16px;
    border: 0;
}

  
  @media screen and (max-width: 500px) {
    .title {
      top: 20;
      margin-top: 10%;
    }
    .title > h2 {
      color: white;
      font-size: 30px;
      text-align: center;
      text-transform: capitalize;
      padding: 10px;
      letter-spacing: 1px;
    }
    .text {
      margin-top: 10px;
      text-align: center;
      color: lightgray;
      font-size: 14px;
    }
    .btn {
      padding: 0.4em 1.5em;
      border-radius: 20px;
      color: black;
  
      font-size: 1em;
      border: 0;
      cursor: pointer;
    }
  }
  
  @media screen and (max-width: 654px) {
    .title {
      top: 20;
      margin-top: 10%;
    }
    .title > h2 {
      color: white;
      font-size: 30px;
      text-align: center;
      text-transform: capitalize;
      padding: 10px;
      letter-spacing: 1px;
    }
    .btn-annually {
      background: #1c2b66;
      margin-left: -30px;
      color: #fff;
    }
  }
  
  