<div class="wallet">
    <div class="wallet__left">
      <div class="wallet__text">
        <h1>Welcome Back</h1>
        <p>To access your wallet, please enter your PIN.</p>
        <!-- <app-warning></app-warning> -->
        <app-info></app-info>
        <div class="new__pin">
  
          <div class="pin__inputs">
            <input type="password">
            <input type="password">
            <input type="password">
            <input type="password">
            <input type="password">
            <input type="password">
          </div>
          <button class="pin__btn">Continue</button>
          <button class="pin__btn-forget" routerLink="/update">Forgot PIN? Reset </button>
        </div>
      </div>
      <!-- <img src="/assets/flower.png" class="wallet-flower" alt=""> -->
    </div>
    <div class="wallet__right">
      <img src="/assets/images/wallet.png" alt="">
    </div>
  </div>
