.ipr {
    max-width: 1700px;
    margin: 0 auto;
    padding: 1rem;
  
  }
  
  .ipr__back {
    display: flex;
    font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .ipr__top {
    width: 60%;
  }
  
  .ipr__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .ipr__header h3 {
    color: #1C2B66;
    font-weight: 600;
    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
  }
  
  .ipr__btns {
    display: flex;
    gap: 1rem;
  }
  
  .ipr__btns select,
  .ipr__btns button {
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  }
  
  .ipr__btns-select {
    border: 0.5px solid rgba(28, 43, 102, 0.88);
    color: #1C2B66;
  }
  
  .ipr__btns-btn {
    color: #fff;
    background: #1C2B66;
    border: none;
  }
  
  .ipr__hr {
    border-top: 0.5px solid #1C2B66;
    width: 100%;
    margin: 2rem 0 2rem 0;
  }
  
  .ipr__table-table {
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  }
  
  .ipr__table-head {
    background: #F6F7FC;
  }
  
  .ipr__column {
    min-width: 10rem;
  }
  
  .ipr__row {
    min-height: 4rem;
  }
  
  .ipr__status {
    background: rgba(3, 168, 158, 0.24);
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    color: #3B8061;
    font-size: 12px;
  }
  
  .ipr__row:nth-child(even) {
    background: #F6F7FC;
  
  
  
  }
  
  @media screen and (max-width:500px) {
    .ipr__top {
      width: 100%;
    }
  
    .ipr__header {
      flex-direction: column;
    }
  }