.ipr {
    max-width: 1700px;
    margin: 0 auto;
    padding: 1rem;
  
  }
  
  .ipr__back {
    display: flex;
    font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .ipr__top {
    width: 60%;
  }
  
  .ipr__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .ipr__header h3 {
    color: #1C2B66;
    font-weight: 600;
    font-size: clamp(1.25rem, 0.625rem + 2vw, 1.75rem);
  }
  
  .ipr__btns {
    display: flex;
    gap: 1rem;
  }
  
  .ipr__btns select,
  .ipr__btns button {
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  }
  
  .ipr__btns-select {
    border: 0.5px solid rgba(28, 43, 102, 0.88);
    color: #1C2B66;
  }
  
  .ipr__btns-btn {
    color: #fff;
    background: #1C2B66;
    border: none;
  }
  
  .ipr__hr {
    border-top: 0.5px solid #1C2B66;
    width: 100%;
    margin: 2rem 0 2rem 0;
  }
  
  .ipr__table-table {
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  }
  
  .ipr__table-head {
    background: #F6F7FC;
  }
  
  .ipr__column {
    min-width: 10rem;
  }
  
  .ipr__row {
    min-height: 4rem;
  }
  
  .ipr__status {
    background: rgba(3, 168, 158, 0.24);
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    color: #3B8061;
    font-size: 12px;
  }
  
  .ipr__row:nth-child(even) {
    background: #F6F7FC;
  
  
  
  }
  
  @media screen and (max-width:500px) {
    .ipr__top {
      width: 100%;
    }
  
    .ipr__header {
      flex-direction: column;
    }
  }

   ///////////////// Invoices //////////


.event-invoice {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 1.5rem auto;
}

.event-invoiceTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoiceTopHeader {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;

  color: #000000;
}

.invoiceTopIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.invoiceTopIcons .mat-icon {
  color: #1C2B66;
  font-size: 26px;
}

.event-invoiceBanner {
  background: #F6F7FC;
  min-height: fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.invoiceBannerTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.invoiceBannerLogo img {
  width: 150px;
  height: 150px;
  // object-fit: contain;
  border-radius: 50%;
}

.invoiceBannerContact p {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* or 10px */

  letter-spacing: -0.02em;

  color: #2D3748;
}

.invoiceBannerContact p .mat-icon {
  color: #1C2B66;
}

.invoiceBannerBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.invoiceBannerRecepient {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.invoiceBannerRecepient h5 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

}

.invoiceBannerRecepient p {
  width: 40%;
  min-width: 180px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(45, 55, 72, 0.3);
}

.invoiceBannerRecContact p {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  /* or 10px */

  letter-spacing: -0.02em;

  color: #2D3748;
}

.invoiceBannerRecContact p .mat-icon {
  font-size: 18px;
  color: #1C2B66;
}

.invoiceBannerInvoice {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;

}

.invoiceBannerInvoice h3 {
  font-size: 19px;
  font-weight: 700;

}

.invoiceNoTitle {
  font-size: 13px;
  font-weight: 600;
}

.invoiceNoText {
  font-size: 13px;
  font-weight: 400;
  line-height: 140%;
  /* or 10px */
  letter-spacing: -0.02em;
  color: rgba(45, 55, 72, 0.3);

}



.event-InvoiceNotes {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.event-InvoiceNotes h4 {
  font-size: 16px;
  font-weight: 600;

}

.event-InvoiceNotes p {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  /* or 11px */
  letter-spacing: -0.02em;
  color: rgba(45, 55, 72, 0.3);

}

.eventInvoiceBtn {
  display: flex;
  justify-content: center ;
  gap: 10px;
}

.eventInvoiceBtn button {
  padding: 1rem 4rem;
  border-radius: 12px;
  color: #1C2B66;
  background: #fff;
  border: 1px solid #1C2B66;

}
.eventInvoiceBtn button:hover{
  background: #1C2B66;
    color: #fff;
}

th,
.discount,
.subtotal {
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(45, 55, 72, 0.3);
}

.total {
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #1C2B66;
}

@media screen and (max-width:500px) {
  .invoiceBannerLogo img {
    width: 100px;
    height: 54px;
    object-fit: contain;
  }

  .invoiceBannerContact p {
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    gap: 0.2rem;
  }

  .invoiceBannerContact p .mat-icon {
    font-size: 12px;
  }

  .invoiceBannerRecepient p {
    font-size: 13px;
    width: 25%;
    min-width: 100px;
  }

  table {
    font-size: 13px;
  }

  .total {
    font-size: 20px;
  }
}
/////////////////////  Invoices End  //////////////
/// 
////////////////// Payment Option Starts /////////////

.modal-head{
  display: flex;
  justify-content: space-evenly;
  img{
    margin-left: 30%;
  }
}
  .modal-bodybody{
    .row1{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    h5{
      text-align: center;
      color: #1C2B66;
    }
    .options{
      .form-check{
        display: flex;
        gap: 15px;
      }
    }
  }
  .modal-foot{
    button{
      width: 100%;
    }
  }
  // .payment-body{
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  //   justify-content: flex-end;
  //   align-items: flex-end;
  //   padding: 0;
  // }