<nav class="navbar navbar-expand-md navbar-light nav navborder" [ngClass]="{navborder: show=='one'}">
    <div class="container-fluid">
        <!-- [ngStyle]="{visibility:'hidden'}" -->
        <ng-template [ngIf]="show == 'one'">
            <div style="cursor: pointer;" class="navbar-brand" >
                <img src="/assets/images/Logo.png" alt="">
            </div>
        </ng-template>

        <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">

            <ul class="navbar-nav ms-auto">
                <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="landing" routerLink="/events" tabindex="0" id="navbarDropdown3" role="button">
                        Browse events
                    </a>
                </li>
                <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="landing" routerLink="/pricing" tabindex="0" id="navbarDropdown3" role="button">
                        Pricing
                    </a>
                </li>
                <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="landing" routerLink="/cart" tabindex="0" id="navbarDropdown3" role="button">
                        Resources
                    </a>
                </li>
                <ng-template [ngIf]="show == 'one'">
                    <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                        <a class="landing" routerLink="/dashboard" tabindex="0" id="navbarDropdown3" role="button">
                            Vendors
                        </a>
                    </li>
                    <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                        <a class="landing" routerLink="/" tabindex="0" id="navbarDropdown3" role="button">
                            Log in
                        </a>
                    </li>
                    <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                        <a id="signin" routerLink="/authentication" tabindex="0" role="button">
                            Get Started
                        </a>
                    </li>
                </ng-template>
                <!-- <li  class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
            <a  id="signOut" (click)="signOut()" tabindex="0" role="button">
             Sign out
            </a>
          </li> -->
                <ng-template [ngIf]="show == 'two'">
                    <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                        <a class="landing" tabindex="0" id="navbarDropdown3" role="button">
                            Find Venues
                        </a>
                    </li>
                    <li class="landingli" ngbDropdown display="dynamic" placement="bottom-end">
                        <a id="signin" routerLink="/create-event" tabindex="0" role="button">
                            Create Event
                        </a>
                    </li>
                    <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
                        <a class="nav-link" tabindex="0" id="navbarDropdown3" role="button">
                            <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
                        </a>
                    </li>
                    <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
                        <!-- <a routerLink="/profile" class="nav-link" tabindex="0" id="navbarDropdown3" role="button"> -->
                            <div class="profile">
                                <img src="/assets/images/person.jpg" alt="" width="35px" height="35px">
                                <section>
                                    <article>Lucky Daniel</article><span>User ID #12345</span>
                                </section>
                                <mat-icon class="more dropdown-toggle-split"  ngbDropdownToggle>more_vert</mat-icon>
                                <div class="dropdown-menu" ngbDropdownMenu>
                                    <button ngbDropdownItem>My Events</button>
                                    <button ngbDropdownItem>Bookmarked Events </button>
                                    <button ngbDropdownItem>Following</button>
                                    <button ngbDropdownItem>Followers</button>
                                    <button ngbDropdownItem>Interest</button>
                                    <button ngbDropdownItem>Help</button>
                                    <button ngbDropdownItem>Account</button>
                                    <button ngbDropdownItem>Logout</button>
                                </div>
                            </div>
                        <!-- </a> -->
                    </li>
                </ng-template>

            </ul>

        </div>
    </div>
</nav>
<!-- <hr> -->
