<ng-template [ngIf]="page == 'home'">
<div class="solutions">
    <div class="solution-main">
      <div class="top">
        <div class="request-cards card-left" (click)="rar()">
          <img src="/assets/images/Group 459 (2).png" alt="" />
          <div class="request-text">
            <h5>Requests</h5>
            <h2>0</h2>
          </div>
        </div>
        <div class="request-cards card-right" (click)="ipr()">
          <img src="/assets/images/Group 459 (3).png" alt="" />
          <div class="request-text">
            <h5>Invoices</h5>
            <h2>0</h2>
          </div>
        </div>
      </div>
      <div class="mid">
        <h2>Solutions Tailored to your event</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates
          nostrum
        </p>
      </div>


      <div class="bottom">
        <div class="solution-cards" *ngFor="let item of specialRequest | paginate: { itemsPerPage: 8, currentPage: pg, totalItems:totalLength }" (click)="selectService(item)">
          <div class="card-text">
            <h4>{{item.serviceName}}</h4>
            <p>
              {{item.serviceDescription}}
            </p>
          </div>
          <div class="card-img">
            <img src="{{item.image}}" alt="" />
          </div>
        </div>
        <!-- <div class="solution-cards">
          <div class="card-text">
            <h4>Surveilance</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images/freepik--Drone--inject-80.png" alt="" />
          </div>
        </div>
        <div class="solution-cards">
          <div class="card-text">
            <h4>Armed Guarding</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images\Security Guard Illustration (3).png" alt="" />
          </div>
        </div>
        <div class="solution-cards">
          <div class="card-text">
            <h4>Drone</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images/freepik--Drone--inject-80.png" alt="" />
          </div>
        </div>
        <div class="solution-cards">
          <div class="card-text">
            <h4>Physical Security</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images\Security Guard Illustration (3).png" alt="" />
          </div>
        </div>
  
        <div class="solution-cards">
          <div class="card-text">
            <h4>Surveilance</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images/freepik--Drone--inject-80.png" alt="" />
          </div>
        </div>
        <div class="solution-cards">
          <div class="card-text">
            <h4>Armed Guarding</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images\Security Guard Illustration (3).png" alt="" />
          </div>
        </div>
        <div class="solution-cards">
          <div class="card-text">
            <h4>Drone</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
              vero vitae ut voluptatum quidem.
            </p>
          </div>
          <div class="card-img">
            <img src="/assets/images/freepik--Drone--inject-80.png" alt="" />
          </div>
        </div> -->

      </div>
      <pagination-controls class="d-flex justify-content-center" (pageChange)="pg = $event"></pagination-controls>
      <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="specialRequest.length" [maxSize]="5" [(page)]="pagination"></ngb-pagination> -->
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="page == 'security'">
<div class="security">
    <div class="header">
      <div class="header-text">
        <span class="back-btn" (click)="backHome()"><mat-icon>arrow_back_ios</mat-icon>Back</span>

        <h5 class="small-text">Physical Security</h5>
        <h2 class="big-text">On Trend, On Time, For You and Your Customers</h2>
        <p class="normal-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis incidunt
          alias quia nostrum id.
        </p>
      </div>
      <div class="header-btn">
        <button class="btn btn-service" (click)="bookAservice()">Book Service</button
        ><button class="btn btn-diag">
          Diagonostic Tool
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="arrow_forward"
          ></mat-icon>
        </button>
      </div>
    </div>
    <div class="hero-section">
      <img src="/assets/images/157174974_2067107246762868_8375639145711985094_n.jpg" alt="" />
    </div>
    <div class="banner-section">
      <div class="banner">
        <div class="icon">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="verified_user"
          ></mat-icon>
        </div>
        <div class="text">
          <h3>On Trend, On Time, For You and Your Customers</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
            incidunt alias quia nostrum id.
          </p>
        </div>
      </div>
      <div class="banner">
        <div class="icon">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="verified_user"
          ></mat-icon>
        </div>
        <div class="text">
          <h3>On Trend, On Time, For You and Your Customers</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
            incidunt alias quia nostrum id.
          </p>
        </div>
      </div>
      <div class="banner">
        <div class="icon">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="verified_user"
          ></mat-icon>
        </div>
        <div class="text">
          <h3>On Trend, On Time, For You and Your Customers</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis
            incidunt alias quia nostrum id.
          </p>
        </div>
      </div>
    </div>
    <div class="more-info">
      <div class="first-section">
        <div class="info-img">
          <img src="/assets/images/hands.jpg" alt="" class="info-img" />
        </div>
        <div class="info-text">
          <h5>Physical Security</h5>
          <h2>On Trend, On Time, For You and Your Customers</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
            officiis blanditiis? Impedit dignissimos, soluta earum natus
            consectetur culpa officia assumenda et ut, iure quis voluptatibus nisi
            aut voluptatum magnam maxime.
          </p>
        </div>
      </div>
      <div class="second-section">
        <div class="info-text">
          <h5>Physical Security</h5>
          <h2>On Trend, On Time, For You and Your Customers</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus,
            officiis blanditiis? Impedit dignissimos, soluta earum natus
            consectetur culpa officia assumenda et ut, iure quis voluptatibus nisi
            aut voluptatum magnam maxime.
          </p>
        </div>
        <div class="info-img">
          <img src="/assets/images/cars.jpg" alt="" class="info-img" />
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="page == 'requests'">
    <div class="request">
        <div class="request-left">
          <div class="header">
            <!-- <div class="back-btn"> -->
              <span class="back-btn" (click)="psecurity()"><mat-icon>arrow_back_ios</mat-icon>Back</span>
            <!-- </div> -->
            
            <h3 class="header-text">
              Find out how much value you could drive with a new approach to your
              event management
            </h3>
          </div>
          <div class="divider"></div>
          <div class="req">
            <div class="req-header">
              <h2 class="req-header-title">Request</h2>
      
              <p class="notice-text">
                Please note, this is eventually subject to a physical survey carried
                out
              </p>
            </div>
            <div class="req-select">
              <p class="req-header-text">Estimated number of {{serviceName}} required</p>
              <input type="number" placeholder="0" ngModel [(ngModel)]="specialRequestDetail.quantity"/>
            </div>
            <div *ngIf="specialRequestDetail.quantity > 0"
            style="display: flex; justify-content: space-between; padding: 0 10px;margin: 0;">
              <h5><b>Total</b> :</h5> 
              <h6><b>&#8358; {{specialRequestDetail.quantity * 5000 | number}}</b></h6>
            </div>
          </div>
          <div class="divider"></div>
          <div class="event-info">
            <h2 class="event-header-title">Event Information</h2>
      
            <div class="event-select">
              <p class="event-header-text">Event Type</p>
              <select name="" id="" (change)="selectEvents(event.value)" ngModel #event="ngModel">
                <option value=""></option>
                <option *ngFor="let event of creatorEvent" value="{{event.eventId}}" >{{event.eventName}}</option>
              </select>
            </div>
            <div class="event-select-date">
              <div class="start-date">
                <p class="event-header-text">Start Date</p>
                <input type="date" name="" id="" ngModel [(ngModel)]="eventInfo.startDate" disabled/>
              </div>
              <div class="end-date">
                <p class="event-header-text">End Date</p>
                <input type="date" name="" id="" ngModel [(ngModel)]="eventInfo.endDate" disabled/>
              </div>
            </div>
            <div class="event-select-time">
              <div class="start-time">
                <p class="event-header-text">Start Time</p>
                <input type="time" name="" id="" ngModel [(ngModel)]="eventInfo.startTime" disabled/>
              </div>
              <div class="end-time">
                <p class="event-header-text">End Time</p>
                <input type="time" name="" id="" ngModel [(ngModel)]="eventInfo.endTime" disabled/>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="event-location">
            <h2 class="req-header-title">Event Location</h2>
            <div class="req-select">
              <p class="req-header-text">State</p>
              <input type="text" ngModel [(ngModel)]="eventInfo.state" disabled/>
            </div>
            <div class="req-select">
              <p class="req-header-text">LGA</p>
              <input type="text" ngModel [(ngModel)]="eventInfo.lga" disabled/>
            </div>
            
            <div class="req-select">
              <p class="req-header-text">Street</p>
              <input type="text" ngModel [(ngModel)]="eventInfo.street" disabled/>
            </div>
            <div class="req-btn" (click)="createEventSpecialRequest()">
              <button>Get in touch</button>
            </div>
          </div>
        </div>
        <div class="request-right">
          <div class="circle">
            <img src="/assets/images/Group 675.png" alt="" />
          </div>
        </div>
      </div>

</ng-template>

<ng-template  [ngIf]="page == 'ipr'">
  <app-ipr></app-ipr>
</ng-template>

<ng-template [ngIf]="page == 'rar'">
  <app-rar></app-rar>
</ng-template>

<ngx-spinner type="ball-scale-multiple">
  <p style="color: white"> Loading... </p>
</ngx-spinner>