.body {
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: fixed;
    bottom: 0;
    transition: all .5s ease;
    background: #F5F5F5;
    // overflow: auto;

}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    align-items: center;
    border-bottom: 2px solid #1C2B66;
    padding: 1.0rem 0;
    background-color: #FFFFFF;
    // height: 15vh;
    
    .welcome {
        margin-left: 1rem;
        h5{
          display: flex;
          cursor: pointer;
        }
    }

    button {
        background: #1C2B66;
        margin: 0 1.0rem;

    }
}

.main {
height: 79vh;
}
@media screen and (max-width: 1200px) {
    .requests {
      flex: 1;
    }
    .sidebar {
      display: none;
    }
  }