<div class="dash">
  <div class="side1">
    <div class="row1">
      <div class="box1">
        <h3>Project Deliveries</h3>
        <div class="image">
          <img src="/assets/images/Card.png" alt="">
        </div>
      </div>
      <div class="box2">
        <h3>Upcoming Events</h3>
        <div class="box22">
          <div class="row1">
            <h3>Vaux App Launch</h3>
            <small>12:00PM</small>
          </div>
          <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem blanditiis molestias quasi ipsam
            itaque cumque officia laudantium voluptatum soluta consequuntur.</P>
          <div class="row2">
            <button class="btn btn-primary">Set Reminder</button>
            <div class="stacked">
              <img src="/assets/images/person.jpg" alt="">
              <img src="/assets/images/person.jpg" alt="">
              <img src="/assets/images/person.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row2">
      <h3>Event Overview</h3>
      <select name="" id="">
        <option value="">Filter</option>
        <option value="">2</option>
      </select>
    </div>

    <div class="buttom">
      <div class="event">
        <div class="eventprofile">
          <div class="one">
            <div class="image">
              <img src="/assets/images/Rectangle 669.png" alt="">
            </div>
            <div class="eventdet">
              <h4>Burna live in concert</h4>
              <small>Published</small>
            </div>
          </div>
          <mat-icon>more_horiz</mat-icon>
        </div>

        <div class="collab">
          <p>Collaborators</p>
        </div>

        <div class="low">
          <div class="stacked">
            <img src="/assets/images/person.jpg" alt="">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <small>
              <mat-icon>chat</mat-icon>
            </small>28
          </div>
          <p>
            <span style="color:#58C971 ;">• Event Completed</span> Sept 26, 2022
          </p>
        </div>
      </div>
      <div class="event">
        <div class="eventprofile">
          <div class="one">
            <div class="image">
              <img src="/assets/images/Rectangle 669.png" alt="">
            </div>
            <div class="eventdet">
              <h4>Burna live in concert</h4>
              <small>Published</small>
            </div>
          </div>
          <mat-icon>more_horiz</mat-icon>
        </div>

        <div class="collab">
          <p>Collaborators</p>
        </div>

        <div class="low">
          <div class="stacked">
            <img src="/assets/images/person.jpg" alt="">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <small>
              <mat-icon>chat</mat-icon>
            </small>28
          </div>
          <p>
            <span style="color:#58C971 ;">• Event Completed</span> Sept 26, 2022
          </p>
        </div>
      </div>
      <div class="event">
        <div class="eventprofile">
          <div class="one">
            <div class="image">
              <img src="/assets/images/Rectangle 669.png" alt="">
            </div>
            <div class="eventdet">
              <h4>Burna live in concert</h4>
              <small>Published</small>
            </div>
          </div>
          <mat-icon>more_horiz</mat-icon>
        </div>

        <div class="collab">
          <p>Collaborators</p>
        </div>

        <div class="low">
          <div class="stacked">
            <img src="/assets/images/person.jpg" alt="">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <small>
              <mat-icon>chat</mat-icon>
            </small>28
          </div>
          <p>
            <span style="color:#58C971 ;">• Event Completed</span> Sept 26, 2022
          </p>
        </div>
      </div>
      <div class="event">
        <div class="eventprofile">
          <div class="one">
            <div class="image">
              <img src="/assets/images/Rectangle 669.png" alt="">
            </div>
            <div class="eventdet">
              <h4>Burna live in concert</h4>
              <small>Published</small>
            </div>
          </div>
          <mat-icon>more_horiz</mat-icon>
        </div>

        <div class="collab">
          <p>Collaborators</p>
        </div>
        <div class="low">
          <div class="stacked">
            <img src="/assets/images/person.jpg" alt="">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <small>
              <mat-icon>chat</mat-icon>
            </small>28
          </div>
          <p>
            <span style="color:#58C971 ;">• Event Completed</span> Sept 26, 2022
          </p>
        </div>
      </div>
      <div class="event">
        <div class="eventprofile">
          <div class="one">
            <div class="image">
              <img src="/assets/images/Rectangle 669.png" alt="">
            </div>
            <div class="eventdet">
              <h4>Burna live in concert</h4>
              <small>Published</small>
            </div>
          </div>
          <mat-icon>more_horiz</mat-icon>
        </div>

        <div class="collab">
          <p>Collaborators</p>
        </div>
        <div class="low">
          <div class="stacked">
            <img src="/assets/images/person.jpg" alt="">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <small>
              <mat-icon>chat</mat-icon>
            </small>28
          </div>
          <p>
            <span style="color:#58C971 ;">• Event Completed</span> Sept 26, 2022
          </p>
        </div>
      </div>
      <div class="event">
        <div class="eventprofile">
          <div class="one">
            <div class="image">
              <img src="/assets/images/Rectangle 669.png" alt="">
            </div>
            <div class="eventdet">
              <h4>Burna live in concert</h4>
              <small>Published</small>
            </div>
          </div>
          <mat-icon>more_horiz</mat-icon>
        </div>

        <div class="collab">
          <p>Collaborators</p>
        </div>
        <div class="low">
          <div class="stacked">
            <img src="/assets/images/person.jpg" alt="">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
            <small>
              <mat-icon>chat</mat-icon>
            </small>28
          </div>
          <p>
            <span style="color:#58C971 ;">• Event Completed</span> Sept 26, 2022
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="side2">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>

    <div class="activ">
      <h3>Activity</h3>
    </div>
    <div class="activity">
      <div class="profile">
        <div class="image"><img src="/assets/images/person.jpg" alt=""></div>
        <div class="profileinfo">
          <p>Samson Olalekan</p>
          <small>Today, 12:25 Pm</small>
          <p><b>Uploaded a new file to </b> <b class="color"> Burna live in concert </b></p>
          <div class="docs">
            <div class="part1">
              <div class="image"><img src="/assets/images/Group 459 (1).png" alt=""></div>
              <div class="profileinfo">
                <b>Event Guideline</b>
                <p>2.6 MB</p>
              </div>
            </div>
            <div class="side2">
              <mat-icon>file_download</mat-icon>
            </div>
          </div>
        </div>
      </div>

      <div class="profile">
        <div class="image"><img src="/assets/images/person.jpg" alt=""></div>
        <div class="profileinfo">
          <p>Samson Olalekan</p>
          <small>Today, 12:25 Pm</small>
          <p><b>Uploaded a new file to </b> <b class="color"> Burna live in concert </b></p>
          <div class="docs">
            <div class="part1">
              <div class="image"><img src="/assets/images/Group 459 (1).png" alt=""></div>
              <div class="profileinfo">
                <b>Event Guideline</b>
                <p>2.6 MB</p>
              </div>
            </div>
            <div class="side2">
              <mat-icon>file_download</mat-icon>
            </div>
          </div>
        </div>
      </div>

      

    </div>
  </div>
</div>