<ngx-spinner type="ball-scale-multiple">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


<div class="dash">
  
  <div class="side1">
    <div class="row1">
      <div class="box1">
        <h3>Project Deliveries</h3>
        <div class="image">
          <img src="/assets/images/chart.png" alt="">
        </div>
      </div>
      <div class="box2">
        <h3>Upcoming Events</h3>
        <ng-template [ngIf]="isActive == false || creatorDashboard.upcomingEvents.length == 0">
          <div class="box222">
            <h2>No scheduled events</h2>
            <div class="images">
              <img src="/assets/images/Calendar-amico (1) 2.png" alt="">
            </div>
          </div>
        </ng-template>


        <ng-template [ngIf]="isActive == true || creatorDashboard.upcomingEvents.length != 0">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of creatorDashboard.upcomingEvents">
              <div class="box22" >
                <div class="row1">
                  <h3>{{item.name}}</h3>
                  <small>{{item.date|split: "T": 1}}</small>
                </div>
                <P>{{item.narration}}.</P>
                <div class="row2">
                  <button class="btn btn-primary">Set Reminder</button>
                  <div class="stacked">
                    <img src="/assets/images/person.jpg" alt="">
                    <img src="/assets/images/person.jpg" alt="">
                    <img src="/assets/images/person.jpg" alt="">
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>

        </ng-template>
      </div>
    </div>
    <div class="row2">
      <h3>Event Overview</h3>
      <select name="" id="">
        <option value="">Filter</option>
        <option value="">2</option>
      </select>
    </div>

    <ng-template [ngIf]="isActive && creatorDashboard.eventOverviews.length != 0">
      <div class="buttom">
        <div class="event" *ngFor="let item of creatorDashboard.eventOverviews">
          <div class="eventprofile">
            <div class="one">
              <div class="image">
                <img [src]="item.imageUrl ? item.imageUrl:'/assets/images/Rectangle 669.png'" alt="">
              </div>
              <div class="eventdet">
                <h4>{{item.name}}</h4>
                <small>{{item.status}}</small>
              </div>
            </div>
            <mat-icon mat-icon-button [matMenuTriggerFor]="menu">more_horiz</mat-icon>
          </div>

          <!-- --------- Menu Drop Down ------- -->
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span (click)="getSingleEvent(item.eventId)">Plan Budget</span>
            </button>
            <button mat-menu-item>
              <span (click)="addTicket(item.eventId)">Add Ticket</span>
            </button>
          </mat-menu>
          <!-- ------------- Menu Drop Down Ends -------- -->

          <div class="collab">
            <p>Collaborators</p>
          </div>

          <div class="low">
            <div class="stacked">
              <img src="/assets/images/person.jpg" alt="">
              <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
              <img src="/assets/images/person.jpg" alt="" style="margin-left: -20px;
            ">
              <small>
                <mat-icon>chat</mat-icon>
              </small>28
            </div>
            <p>
              <span style="color:#58C971 ;">• {{item.status}} </span> {{item.publishedDate|split: "T": 0}}
            </p>
          </div>
        </div>

      </div>
    </ng-template>
    <ng-template [ngIf]="response.responseCode != 00 || creatorDashboard.eventOverviews.length == 0">
      <div class="buttom2">
        <div class="left">
          <h1>Let's Build your dream around you</h1>
          <button class="btn" (click)="openLg(content)">Create Event</button>
        </div>
        <div class="right">
          <img src="/assets/images/Team-pana 2.png" alt="">
        </div>
      </div>
    </ng-template>
  </div>

  <div class="side2">
    <p *ngIf="isActive" id="plan">{{getActive.plan}}</p>

    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>

    <div class="activ">
      <h3>Activity</h3>
    </div>

    <ng-template [ngIf]="isActive  || creatorDashboard.upcomingEvents.length == 0">
      <p>No activity</p>
      <div class="noActivity">
        <img src="/assets/images/Work time-pana (1) 1.png" alt="">
      </div>
    </ng-template>
    
    <ng-template>
      <div class="activity">
        <div class="profile">
          <div class="image"><img src="/assets/images/person.jpg" alt=""></div>
          <div class="profileinfo">
            <p>Samson Olalekan</p>
            <small>Today, 12:25 Pm</small>
            <p><b>Uploaded a new file to </b> <b class="color"> Burna live in concert </b></p>
            <div class="docs">
              <div class="part1">
                <div class="image"><img src="/assets/images/Group 459 (1).png" alt=""></div>
                <div class="profileinfo">
                  <b>Event Guideline</b>
                  <p>2.6 MB</p>
                </div>
              </div>
              <div class="side2">
                <mat-icon>file_download</mat-icon>
              </div>
            </div>
          </div>
        </div>

        <div class="profile">
          <div class="image"><img src="/assets/images/person.jpg" alt=""></div>
          <div class="profileinfo">
            <p>Samson Olalekan</p>
            <small>Today, 12:25 Pm</small>
            <p><b>Uploaded a new file to </b> <b class="color"> Burna live in concert </b></p>
            <div class="docs">
              <div class="part1">
                <div class="image"><img src="/assets/images/Group 459 (1).png" alt=""></div>
                <div class="profileinfo">
                  <b>Event Guideline</b>
                  <p>2.6 MB</p>
                </div>
              </div>
              <div class="side2">
                <mat-icon>file_download</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #content let-modal>
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="image">
          <img src="/assets/images/Creative team-pana 1.png" alt="">
        </div>
        <h4>You need to subscribe to a plan before you can create an event</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-light" (click)="subscribe()">Proceed</button>
      </div>
    </ng-template>
  </div>
</div>

