<div class="daterange">
    <div class="daterange-inputs daterange-long">
      <label for="date-range" class="input">Date Range</label>
      <select name="date-range" id="">
        <option value="">
          Custom
        </option>
        <option value="">
          3 months
        </option>
        <option value="">
          6 months
        </option>
        <option value="">
          Monthly
        </option>
      </select>
    </div>
    <div class="daterange-inputs daterange-small ">
      <label for="from" class="input">From</label>
      <input type="date" name="from" id="">
    </div>
    <div class="daterange-inputs daterange-small ">
      <label for="to" class="input">To</label>
      <input type="date" name="to" id="">
    </div>
  
  </div>