    <div class="WalletBoard">
       
        <div class="bodyPart">
            <div class="section1">
                <div class="part1">
                    <b>My card</b>
                    <div class="cardbody">
                        <div class="ballance">
                            <p>Current balance</p>
                            <h1>&#8358; 40000</h1>
                        </div>
                    </div>
                    <div class="options">
                        <div class="option1">
                            <div class="icon1" (click)="openVerticallyCentered()">
                                <mat-icon>add_card</mat-icon>
                            </div>Top-up
                        </div>
                        <div class="option1">
                            <div class="icon1" (click)="openVerticallyCentered()">
                                <mat-icon>send</mat-icon>
                            </div>Send
                        </div>
                        <div class="option2" (click)="openMore(more)"> 
                            <div class="icon2">
                                <mat-icon>more_horiz</mat-icon>
                            </div>More
                        </div>
                    </div>
                </div>

                <!-- //////////// More Modal ////// -->
                <ng-template #more let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">More</h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                    </div>
                    <div class="modal-body">
                        <div class="moree">
                            <div class="icon">
                                <mat-icon>description</mat-icon>
                            </div>
                            <div class="optionss">
                                <div class="details">
                                    <p><b>Statement & Reports</b></p>
                                    <small>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</small>
                                </div>
                                <div class="next"><mat-icon>navigate_next</mat-icon></div>
                            </div>
                        </div>
                        <div class="moree">
                            <div class="icon">
                                <mat-icon>lock</mat-icon>
                            </div>
                            <div class="optionss">
                                <div class="details">
                                    <p><b>Security</b></p>
                                    <small>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</small>
                                </div>
                                <div class="next"><mat-icon>navigate_next</mat-icon></div>
                            </div>
                        </div>
                        <div class="moree">
                            <div class="icon">
                                <mat-icon>policy</mat-icon>
                            </div>
                            <div class="optionss">
                                <div class="details">
                                    <p><b>Legal</b></p>
                                    <small>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</small>
                                </div>
                                <div class="next"><mat-icon>navigate_next</mat-icon></div>
                            </div>
                        </div>
                        <div class="moree">
                            <div class="icon">
                                <mat-icon>help_center</mat-icon>
                            </div>
                            <div class="optionss">
                                <div class="details">
                                    <p><b>FAQs</b></p>
                                    <small>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</small>
                                </div>
                                <div class="next"><mat-icon>navigate_next</mat-icon></div>
                            </div>
                        </div>
                        <div class="moree">
                            <div class="icon">
                                <mat-icon>contact_support</mat-icon>
                            </div>
                            <div class="optionss">
                                <div class="details">
                                    <p><b>Get Help</b></p>
                                    <small>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.</small>
                                </div>
                                <div class="next"><mat-icon>navigate_next</mat-icon></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
                    </div>
                </ng-template>
                

                <!-- //////////////// More modal Ends /////// -->
                <div class="part2">
                    <b>Summary</b>
                    <div class="progres">
                        
                        <!-- <div class="circular-progress">
                        <div class="value-container">
                            &#8358;267,679
                        </div>
                    </div> -->
                        <div class="labels">
                            <div class="topUp">
                                <span>
                                    <mat-icon>fiber_manual_record</mat-icon>Total credit
                                </span>
                                &#8358; 20000
                            </div>
                            <div class="payment">
                                <span>
                                    <mat-icon>fiber_manual_record</mat-icon>Total debit
                                </span>
                                &#8358; 10000
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="section2">
                <b>Recent activity</b>
                <div class="recentActivity">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless ">
                            <thead>
                                <tr>
                                    <th scope="col">Platform</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Date/Time</th>
                                    <th scope="col">Amount</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of getWalletResponseTransactionHistory | paginate: { itemsPerPage: 8, currentPage: pg, totalItems:totalLength}; index as i">
                                    <td>
                                        <img src="/assets/images/EM 0.png" class="me-2">
                                        {{ item.platform }}
                                    </td>
                                    <td>
                                        <!-- <img [src]="'/assets/' + country.descriptionImg" class="me-2" > -->
                                        {{ item.description }}
                                    </td>

                                    <td>
                                        <p
                                            [ngClass]="{'success':item.status=='Success','fail':item.status!='Success'}">
                                            {{ item.status }}</p>
                                    </td>
                                    <td>
                                        <p
                                            [ngClass]="{'credit':item.transactionType=='Credit','debit':item.transactionType =='Debit'}">
                                            {{ item.transactionType }}</p>

                                    </td>
                                    <td>{{ item.date }}</td>
                                    <td
                                        [ngClass]="{'success':item.status=='Success','fail':item.status!='Success'}">
                                        &#8358; {{ item.amount | number }} </td>
                                    <!-- <td style="cursor:pointer ;"><mat-icon>more_vert</mat-icon></td> -->

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="pagination">
                    <pagination-controls (pageChange)="pg = $event"></pagination-controls>
                </div>
            </div>
        </div>

    </div>

