.wed {
    width: 100%;
    height: 100%;
  
    border-radius: 5px;
    border: 0.5px solid #ffb0c8;
    background: url("/assets/images/wedding2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wed-container {
    width: 60%;
    height: 100%;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .wed-container p,
  .wed-you {
    text-align: center;
    font-size: clamp(0.5rem, 0.4412rem + 0.4706vw, 1rem);
  }
  
  .wed-names {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: clamp(0.625rem, -0.1654rem + 1.8235vw, 2rem);
  }
  .husband,
  .wife {
  }
  
  .wed-calendar {
    display: flex;
    align-items: baseline;
    gap: 2rem;
  }
  
  .weekday {
    padding: 1rem 0.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 600;
    font-size: clamp(0.5rem, 0.6912rem + 0.4706vw, 1.05rem);
  }
  .wed-date {
    font-size: clamp(0.5rem, 0.6912rem + 0.4706vw, 1.25rem);
    font-weight: 600;
  }
  .wed-p {
    text-align: center;
    font-size: clamp(0.5rem, 0.4632rem + 0.2941vw, 0.8125rem);
  }
  .wed-address {
    text-align: center;
    font-size: clamp(0.5rem, 0.4632rem + 0.2941vw, 0.8125rem);
  }
  
  @media screen and (max-width: 500px) {
    .wed-container {
      gap: 1rem;
      /* height: 50%; */
    }
    .weekday {
      padding: 0.5rem;
    }
  }