<div class="wed">
    <div class="wed-container">
      <p>TOGETHER WITH THEIR FAMILIES</p>
  
      <div class="wed-names">
        <div class="husband">{{ wife_name }}</div>
        <p>&</p>
        <div class="wife">{{ husband_name }}</div>
      </div>
      <div class="wed-you">INVITE YOU TO CELEBRATE THEIR WEDDING</div>
      <div class="wed-calendar">
        <div class="weekday">{{ weekday }}</div>
        <div class="wed-date">
          <div class="wed-month">{{ month }}</div>
          <div class="wed-no">{{ date }}</div>
          <div class="wed-year">{{ year }}</div>
        </div>
        <div class="weekday">{{ time }}</div>
      </div>
      <div class="wed-p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis
        animi tempore, impedit repellat ab praesentium expedita nesciunt officia
        culpa amet
      </div>
      <div class="wed-address">123 ANY WHERE ST, ANY CITY</div>
    </div>
  </div>