.passcode {
    width: 100%;
    max-width: 700px;
    margin: 4rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    // min-height: 500px;
    // height: 50vh;
    // gap: 1rem;
  
    /* align-items: center; */
  }
  
  .passcode__back {
    display: flex;
    border: none;
    background: none;
    font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
    color: #1C2B66;
    align-items: center;
  }
  
  .passcode__header {
    text-align: center;
    font-size: clamp(1.25rem, 0.3125rem + 3vw, 2rem);
    font-weight: 600;
  }
  
  .passcode__pin {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // margin-top: 2rem;
  }
  
  .new__pin,
  .confirm__pin {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    padding: 1rem;
  }
  
  .new__pin,
  .confirm__pin p {
    font-size: clamp(0.75rem, 0.125rem + 2vw, 1.25rem);
    font-weight: 600;
  
  }
  
  .pin__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  
  }
  
  .pin__inputs input {
    max-width: 13%;
    /* outline: none; */
    border: none;
    padding: 2rem 1rem;
    text-align: center;
    background: rgba(196, 196, 196, 0.18);
    border-radius: 10px;
    font-size: clamp(0.75rem, 0.125rem + 2vw, 1.25rem);
    /* outline: 1px solid #1C2B66; */
  }
  
  .passcode__btn {
    text-align: center;
  }
  
  .passcode__btn button {
    border: none;
    background: #1C2B66;
    color: #fff;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  }