<div class="birthday">
    <div class="birthday-container">
      <div class="birthday-text">[1]</div>
      <div class="birthday-title">[2]</div>
      <div class="birthday-minititle">[3]</div>
      <div class="birthday-name">
        [4]
      </div>
  
      <div class="birthday-date">
        <div class="birthday-left">
          <div class="birthday-day">[5]</div>
          <div class="birthday-time">
            [6]
          </div>
        </div>
        <div class="birthday-mid">
          [7]
        </div>
        <div class="birthday-right">
          <div class="birthday-month">
            [8]
          </div>
          <div class="birthday-year">
            [9]
          </div>
        </div>
      </div>
  
      <div class="birthday-address">
        <div class="birthday-location">
          [10]
        </div>
      </div>
    </div>
  </div>