<div class="wedding">
    <div class="wedding-container">
      <div class="couple-names">
        <div class="husband">{{ wife_name }}</div>
        <p>&</p>
        <div class="wife">{{ husband_name }}</div>
      </div>
      <div class="wedding-you">
        <p>INVITE YOU TO JOIN THEM</p>
        <p>AT THE CELEBRATION OF THEIR MARRIAGE</p>
      </div>
      <div class="wedding-dates">{{ date }}</div>
      <div class="wedding-time">{{ time }}</div>
      <div class="wedding-address">
        {{ address }}
      </div>
      <div class="wed-rec">reception to follow</div>
    </div>
  </div>