<div class="birthday">
    <div class="birthday-container">
      <div class="birthday-text">Please join us for a</div>
      <div class="birthday-title">{{ title }}</div>
      <div class="birthday-minititle">celebrating</div>
      <div class="birthday-name">{{ celebrant_name }}</div>
  
      <div class="birthday-date">23rd September 2022</div>
      <div class="birthday-time">4:00pm</div>
  
      <div class="birthday-address">
        <div class="birthday-location">{{ location }}</div>
        {{ address }}
      </div>
    </div>
  </div>