<div class="basic-info">
  <div class="profile-top">
    <h3 class="profile-header">Basic Information</h3>
  </div>
  <div class="profile-bottom">
    <div class="profile-photo">
      <div class="profileimg">
          <div class="upload">
              <img src="{{profileData.profileImage}}" width=100 height=100 alt="">
              <div class="round">

                <input id="img" type="file" accept="image/*" (change)="onSelect($event)"
                  [(ngModel)]="profileImage">
                <mat-icon class="fa-camera">edit</mat-icon>
              </div>
            </div>
      </div>
      <div class="pfp-text">
        <h5>Profile Photo</h5>
        <p>This will be displayed on your profile.</p>
      </div>
    </div>
    <form class="profile-form">
      <div class="form-container">
        <div class="form_input">
          <label for="name">Name</label>
          <input type="text" disabled name="name" ngModel [(ngModel)]="profileData.name">
        </div>
        <div class="form_input">
          <label for="email">Email Address</label>
          <input type="email" name="email" disabled ngModel [(ngModel)]="profileData.email">
        </div>
      </div>
      <div class="form-container">
        <div class="form_input">
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" disabled id="" ngModel [(ngModel)]="profileData.phoneNumber">
        </div>
        <div class="form_input">
          <label for="location">Street</label>
          <input type="text" name="location" disabled ngModel [(ngModel)]="profileData.street">
        </div>
      </div>
      <div class="form-container">
        <div class="form_input">
          <label for="gender">Lga</label>
          <input type="text" name="gender" disabled ngModel [(ngModel)]="profileData.lgaName">
        </div>
        <div class="form_input">
          <label for="dob">State</label>
          <input type="text" name="state" disabled ngModel [(ngModel)]="profileData.stateName">
        </div>
      </div>
      <div class="form-btn">
        <button class="update-btn" (click)="updateCustomerProfile()">Update</button>
      </div>
    </form>
  </div>
</div>

<ngx-spinner type="ball-scale-multiple">
  <p style="color: white"> Loading... </p>
</ngx-spinner>