<div class="dinner">
    <div class="dinner-container">
      <div class="dinner-inner">
        <div class="dinner-header">you are cordially invited to</div>
        <div class="dinner-title">
          <div class="dinner-text">{{ text1 }}</div>
          <div class="dinner-amp">&</div>
          <div class="dinner-text">{{ text2 }}</div>
        </div>
        <div class="dinner-header">
          {{ inviter_invite }}
        </div>
        <div class="dinner-date">{{ date }}</div>
        <div class="dinner-time">{{ time }}</div>
        <div class="dinner-address">
          {{ address }}
        </div>
        <div class="dinner-rsvp">{{ rsvp }}</div>
      </div>
    </div>
  </div>