<app-header></app-header>
<div class="main">
    <div class="banner">
        <div>
        <h1>Discover Your</h1>
        <h1>Events</h1>
    </div>
        <div class="search">
            <form action="" class="row g-3">
                <div class="col-md-3">
                    <input type="search" class="form-control" id="inputCity" placeholder="Search">
                </div>
                <div class="col-md-2">
                    <select id="inputState" class="form-select">
                        <option selected>Category...</option>
                        <option>...</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="body">
        <div class="upcoming">
            <div class="header">
                <h2 class="color">Upcoming Events</h2>
                <p class="color">More <mat-icon>chevron_right</mat-icon>
                </p>
            </div>
            <div class="events">
                <div class="event" (click)="eventDetail()">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>

            </div>
        </div>

        <div class="upcoming">
            <div class="header">
                <h2 class="color">Free Events</h2>
                <p class="color">More <mat-icon>chevron_right</mat-icon>
                </p>
            </div>
            <div class="events">
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
                <div class="event">
                    <div class="image"><img src="/assets/images/Rectangle 56.png" alt="">
                        <div class="bookmark">
                            <mat-icon>bookmark</mat-icon>
                        </div>
                    </div>
                    <div class="bottom">
                        <h5>Dave We're All Alone in This Together</h5>
                        <div>
                            <p>Tuesday, March 01</p>
                            <p>Indigo at the 02</p>
                        </div>
                        <footer>
                            <h4 class="color">Free</h4>
                            <p class="info">More info <mat-icon>chevron_right</mat-icon>
                            </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
