.main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 90vh;
    overflow: auto;
    bottom: 0;
    position: fixed;
    overflow: auto;
    background-image: url('/assets/images/fireworks-lazers 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    
    
}


.alert {
    margin-top: 2px;
    padding: 5px;

    small {
        padding: 0;
        margin: 0;
    }
}


///////////////// NEW LANDING ////////////////
.landing-page {
    width: 100%;
    min-height: 100%;
    // min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .section-one,
  .section-two {
    width: 90%;
    max-width: 1300px;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .section-text {
    flex: 0.52;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .section-text h3,
  .partner-title,
  .client-title {
    font-size: clamp(1.375rem, 0.8616rem + 1.6429vw, 2.8125rem);
    font-weight: 700;
    color: #222;
  }
  
  .section-text p {
    font-size: clamp(0.90625rem, 0.8281rem + 0.25vw, 1.125rem);
    color: #222222;
    opacity: 0.7;
    text-align: justify;
  }
  
  .section-img {
    flex: 0.40;
  
  }
  
  .landing-img {
    width: 100%;
    min-width: 350px;
    object-fit: contain;
  }
  
  .section-cta,
  .partner-cta {
    display: flex;
    border: none;
    background: #1c2b66;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: clamp(0.8125rem, 0.7455rem + 0.2143vw, 1rem);
  }
  
  .section-partners {
    width: 90%;
    max-width: 1300px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .partner-title {
    text-align: center;
  }
  
  .partner-grid {
    margin-top: 2rem;
  }
  
  .partner-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 5rem !important;
    align-items: center;
    justify-content: space-between;
    grid-gap: 2rem;
  }
  
  .partner-grid-img {
    width: 100%;
    display: flex;
    align-items: center;
  
  }
  
  .partner-grid img {
    width: 100%;
    max-width: 350px;
    height: 60px;
    object-fit: contain;
  }
  
  .partner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .client-title {
    text-align: center;
  }
  
  /* carousel */
  
  .carousel-inner {
    margin-top: 2.8rem;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.5px solid black;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-text {
    color: #222222;
    opacity: 0.7;
    font-size: 14px;
  }
  
  .special {
    background: rgba(28, 43, 102, 0.1);
  }
  
  .card {
    margin: 0 0.5em;
    /* box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); */
    border: none;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .card {
    opacity: 0.4;
  }
  
  .card-three,
  .card-two {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 2rem;
  }
  
  .card-three {
    opacity: 0.4;
  }
  
  .card-two {
    opacity: 1;
  }
  
  .carousel-inner {
    padding: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  } */
  
  footer {
    background: #1C2B66;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
  }
  
  .newsletter-title {
    font-size: clamp(1.75rem, 1.2143rem + 1.7143vw, 3.25rem);
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  
  .newsletter-subtitle {
    font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.4375rem);
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  
  .newsletter-form {
    min-height: 100px;
    padding: 1rem;
    width: 50%;
    min-width: fit-content;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .newsletter-form input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: clamp(0.90625rem, 0.8281rem + 0.25vw, 1.125rem);
  }
  
  .newsletter-form button {
    padding: 0.8rem 1.5rem;
    background: #FFCC2A;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: clamp(0.90625rem, 0.8281rem + 0.25vw, 1.125rem);
    white-space: nowrap;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  }
  
  .footer-menu {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    transition: all ease-in-out .3s;
  }
  
  .footer-links a:hover {
    color: #FFCC2A;
  }
  
  hr {
    border: 1px solid rgba(222, 223, 225, 0.28);
  }
  
  .footer-copyright {
    text-align: center;
    color: #fff;
    font-size: clamp(0.90625rem, 0.8728rem + 0.1071vw, 1rem);
    margin-bottom: 2rem;
  }
  
  @media screen and (max-width:750px) {
  
    .section-one,
    .section-two {
      flex-direction: column;
      margin: 1rem auto;
    }
  
    .section-text,
    .section-img {
      flex: unset;
      width: 100%;
    }
  
    .landing-img {
      min-width: unset;
    }
  
    .partner-grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media screen and (max-width:500px) {
    .footer-menu {
      flex-direction: column;
      gap: 2rem;
    }
  }
///////////////// NEW LANDING ENDS ///////////

.landingPage {
    background: #fff;
    width: 100%;

    .first {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .top {
            display: flex;
            width: 100%;
            height: 80%;

            .sideOne {
                flex-basis: 50%;
                background-image: url('/assets/images/bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                align-items: center;
                color: #fff;

                h1 {
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 60px;
                }

                p {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                }

                .get-started {
                    width: 300px;
                    padding: 10px;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 22px;
                    background: #1C2B66;
                    color: #fff;
                    // padding: 10px 80px;
                    border-radius: 10px;
                    border: 20px solid rgba(217, 217, 217, 0.55);
                    
                }
                .get-started :hover{
                    background: #fff;
                    color: #1C2B66;
                }
            }

            .sideTwo {
                flex-basis: 50%;
                background-image: url('/assets/images/157174974_2067107246762868_8375639145711985094_n.jpg');
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .bottom {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;

            p {
                margin: 0;
                // height: 100%;
                width: 80%;
                font-weight: 600;
                font-size: 32px;
                line-height: 48px;
                text-align: center;
                color: #1C2B66;

            }
        }
    }

    .second {
        padding: 10px 50px;
        display: flex;
        flex-wrap: wrap;
        // gap: 10px;
        height: 80vh;
        margin-top: 10px;

        .inner {
            margin: auto;
            // width: 70%;
            // display: flex;
            // flex-wrap: wrap;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 50px;
        }

        .item {
            background: #FFFFFF;
            border: 0.5px solid rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            width: 200px;
            height: 195px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;

            .image {
                width: 106px;
                height: 106px;
                left: 130px;
                top: 807px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;

                background: rgba(221, 183, 121, 0.15);

                img {
                    width: 50%;
                }

            }

        }
    }
}

.section1,
.section2 {
    flex-basis: 50%;
    background: rgba(10, 10, 10, 0.7);
    max-height: 100%;
}

.section2 {
    display: flex;
    // justify-content: center;
    align-items: center;
    color: #fff;
    .inner{
        h1{
            font-weight: 600;
            font-size: clamp(1rem, 10vw, 5rem);
        }
    }
}

.section2 .inner {

}

.section2 .inner img {
    width: 100%;
    height: 100%;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid;
    height: 100%; */
}

.one {
    color: #1C2B66;
}

.one h1 {
    font-size: 60px;
}

.one p {
    font-size: 20px;
}

.one .buttonss {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 25px;
}

.buttonss .register {
    background: #1C2B66;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 20px;
}

.buttonss .login {
    border: 0.5px solid #1C2B66;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 50px;

}

.one .login:hover {
    background: #1C2B66;
    color: #fff;

}

/* ////////// Login ////// */
h2 {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    color: #1D1D1D;
    line-height: 140%;
}

.sectionin {
    display: flex;
    flex-direction: column;
    /* margin-top: 10vh; */
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 0;
}

.contain {
    width: 80%;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.color {
    color: #1C2B66;
    cursor: pointer;
}

.bgcolor {
    background: #1C2B66;
}

/* input[type=password]:focus {
    border: 3px solid #1C2B66;
    outline-color: #e64a0d;
    box-shadow: 0 0 10px #1C2B66;
  } */

/* input:focus {
    outline: none;
} */
input:focus {
    box-shadow: 0 0 10px #1C2B66;
}

/* input {
    outline-color: #020e1b;
  } */
#backP {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: #1C2B66;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.bodyframe {
    // border: 2px solid rgba(0, 0, 0, 0.15);
    // border-radius: 10px;
    // padding: 20px;
    // margin: 20px 0;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.formin input {
    width: 100%;
    height: 35px;
    outline-color: #007AFF;
    border: 0.5px solid rgb(201, 199, 199);
    border-radius: 3px;
    font-family: Poppins;
    font-size: 14px;

    margin: 5px 0;

}

.formin label {
    font-family: 'Poppins', sans-serif;
}

.formin p {
    font-size: 16px;
    line-height: 20px;
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
}

.formin button {
    background: #1C2B66;
    color: #ffff;
    border: 1px solid rgb(151, 149, 149);
    border-radius: 5px;
    height: 40px;
    margin: 5px 0;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.formin {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.formin h1 {
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.formin h1:before,
.formin h1:after {
    background-color: rgb(218, 210, 210);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.formin h1:before {
    right: 0.5em;
    margin-left: -50%;
}

.formin h1:after {
    left: 0.5em;
    margin-right: -50%;
}

#btnlg {
    background-color: #171d27;

}

.btnlg {
    width: 20px;
    height: 20px;
}

.forgotpassword {
    text-align: center;
}

/* ///////Login ends /////// */

/* /////Login password ///// */

.formp>* {
    margin: 8px 0px;
}

.formp input {
    outline-color: red;
    margin: 5px 0;
}

.formp button {
    background-color: #1C2B66;
    ;
    color: #ffff;
    border: 1px solid rgb(151, 149, 149);
    border-radius: 5px;
    height: 40px;
    /* margin: 5px 0; */
}

.formp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

.info {
    display: flex;
    padding: 5px;
    align-items: center;
}

.info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid;
}

.info p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px;
}

.formp p {
    /* font-size: 18px; */
    line-height: 20px;
    text-align: center;
}


/* /////////////// Select Account Type //////// */
.type {
    display: flex;
    flex-wrap: wrap;
}

.bus,
.ind {
    display: flex;
    /* gap: 5px; */
    flex-direction: column;
    margin: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    justify-content: space-evenly;
    width: 200px;
    min-height: 190px;
    border: 0.5px solid #1C2B66;
    border-radius: 10px;
}

.bus:hover~span,
.ind:hover~span {
    color: #007AFF;
}

.bus img {
    width: 100%;
    height: 100%;
}

.back:hover {
    border: 2px solid #7db8f8;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background: rgba(221, 183, 121, 0.15);
}

.ind img {
    width: 100%;
    height: 100%;
}

.type .lower {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #2D3748;
}

/* ////// OTP ///// */
.frameemail {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 25rem;
    padding: 20px;
    /* margin: 20px 0;  */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #fff;

}

.frameemail p {
    font-size: 14px;
}

.frameemail img {
    height: 40%;
    width: 40%;
    margin: 10px auto;
}

.otp {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.otp input {
    margin: 5px 0px;
    width: 3.313rem;
    height: 4.375rem;
    background: rgba(196, 196, 196, 0.4);
    border-radius: 10px;
    border: 0px;
    outline-color: #1C2B66;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#resend {
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #1C2B66;
}

#resend:hover {
    background-color: #1C2B66;
    color: #fff;
}


@media only screen and (max-width: 700px) {
    main {
        display: flex;
        flex-direction: column;
        /* margin: 50px 0; */
        overflow: scroll;
    }

    .section2 {
        display: none;
    }

    .section1 {
        display: flex;
        flex-basis: 100%;
    }

    .buttonss .register {
        background: #1C2B66;
        color: #fff;
        border-radius: 10px;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
    }

    .buttonss .login {
        border: 0.5px solid #1C2B66;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        padding: 10px;

    }
}