<div class="main">
  <ng-template [ngIf]="page == 'landing'">
    <div class="landingPage">
      <div class="first">
        <div class="top">
          <div class="sideOne">
            <h1>Better events, together</h1>
            <p>Plan for the unplannable with the world's most collaborative platform</p>
            <button class="get-started" (click)="getStarted()">Get Started</button>
          </div>
          <div class="sideTwo"></div>
        </div>
        <div class="bottom">
          <p>Get the collaborative solutions your event business needs to grow</p>

        </div>
      </div>
      <div class="second">
        <div class="inner">
        <div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div>
        <div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div><div class="item">
          <div class="image">
            <img src="/assets/images/Vector (2).png" alt="">
          </div>
          
          <p>Ticketing</p>
        </div>
      </div>
      </div>
      <app-footer></app-footer>

    </div>
  </ng-template>
  <div class="section1">
    <ng-template [ngIf]="page=='one'">
      <div class="sectionin" @fade>
        <div class="contain">
          <div class="one">
            <h1>Partner as a vendor</h1>
            <p>Register as a vendor and provide services to <br> event creators</p>
            <div class="buttonss">
              <button (click)="register()" class="btn register">Register</button>
              <button (click)="login()" class="btn login color">Back? Log in</button>
            </div>
          </div>

        </div>

      </div>

    </ng-template>

    <!-- ---------------  Login starts here ------- -->
    <ng-template [ngIf]="page=='two'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bHome()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <form class="formin" #emial="ngForm">
              <h2>Login</h2>
              <p>New user ? <span class="color" (click)="register()">Create account</span></p>
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email" ngModel [(ngModel)]="accountLogin.email">
              <button (click)="lpassword()">Continue</button>
              <h1 class="li"><span> or </span></h1>
              <button id="btnlg"><img class="btnlg" src="assets/images/google-logo-9808 1.png" alt=""> Sign in with
                google</button>
              <p class="forgotpassword">Forgot password ? <span class="color" (click)="resetPassword()">Reset</span></p>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="page=='three'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bLogin()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <form class="formp">
              <h2>Enter your password</h2>
              <div class="info">
                <img src="assets/images/person.jpg" alt="">
                <p><span>Business account</span> <span>Example@gmail.com</span></p>
              </div>
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" ngModel [(ngModel)]="accountLogin.password">
              <button class="btn" (click)="dashBoard()">Continue</button>
              <div class="form-check form-switch d-flex justify-content-center">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">stay signed in</label>
              </div>
              <hr>
              <p>Forgot your password? <span class="color" (click)="resetPassword()">Reset</span></p>
              <p class="color"> Sign in to a different account </p>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- ------------- Account Type ------------- -->
    <ng-template [ngIf]="page=='four'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bHome()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h1>Create account</h1>
            <p>Aready have an account? <span>Sign in</span></p>
            <p>Chose the type of account you want to create.</p>
            <div class="type">
              <div class="bus" (click)="business()">
                <span class="back"><img src="assets/images/Business Illustration.png" alt=""></span><b>Business</b>
                <span class="lower">Create an event as a registered business</span>
              </div>
              <div class="ind" (click)="individual()">
                <span class="back"><img src="assets/images/Individual Illustration.png"
                    alt=""></span><b>Individual</b><span class="lower">Create an event as an individual</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- ////// Personal business ///// -->
    <ng-template [ngIf]="page=='five'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="register()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Create account</h2>
            <p>Fill the form to create an Individual account</p>
            <form class="row g-3" #individualreg="ngForm" (ngSubmit)="Iloc(individualreg.value)">
              <div class="col-md-6">
                <label for="first" class="form-label">First name</label>
                <input type="text" [(ngModel)]="creatorAccount.firstName" name="first" class="form-control" id="first"
                  required #first="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="first.invalid && (first.dirty || first.touched)">
                  <small *ngIf="first.errors?.['required']">first name is required</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="last" class="form-label">Last name</label>
                <input type="text" [(ngModel)]="creatorAccount.lastName" name="last" class="form-control" id="last"
                  required #last="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="last.invalid && (last.dirty || last.touched)">
                  <small *ngIf="last.errors?.['required']">last name is required</small>
                </div>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Email address</label>
                <input type="email" [(ngModel)]="individualLog.email" name="email" class="form-control" id="email"
                  required email #email="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <small *ngIf="email.errors?.['required']">email name is required</small>
                  <small *ngIf="email.errors?.['email']">enter a valid email</small>
                </div>
              </div>
              <div class="col-12">
                <label for="date" class="form-label">Date of birth</label>
                <input type="date" [(ngModel)]="creatorAccount.dateOfBirth" name="dob" max="2004-12-31"
                  class="form-control" id="date" required #date="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="date.invalid && (date.dirty || date.touched)">
                  <small *ngIf="date.errors?.['required']">date of birth is required</small>
                </div>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Phone number</label>
                <input placeholder="+234..." type="tel" [(ngModel)]="creatorAccount.phoneNumber" name="phone"
                  class="form-control" id="phone" required #phone="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                  <small *ngIf="phone.errors?.['required']">phone number is required</small>
                </div>
              </div>
              <div class="col-ms-12">
                <b>Gender</b>
              </div>
              <div class="form-check col-md-3 ">
                <input class="form-check-input active" type="radio" [(ngModel)]="creatorAccount.gender" name="gender"
                  id="male" value="M" required #gender="ngModel">
                <label class="form-check-label" for="male">
                  Male
                </label>
              </div>
              <div class="form-check col-md-3">
                <input class="form-check-input" type="radio" ngModel name="gender" id="female" value="F"
                  [(ngModel)]="creatorAccount.gender" required #gender="ngModel">
                <label class="form-check-label" for="female">
                  Female
                </label>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                <small *ngIf="gender.errors?.['required']">This field is required</small>
              </div>
              <div class="col-12 d-grid">
                <!-- (click)="Iloc()" -->
                <button type="submit" class="btn btn-primary bgcolor" [disabled]="!individualreg.valid">Next</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="page=='six'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span (click)="bindividual()" id="backP">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Create account</h2>
            <p>Please, let's know your location</p>
            <form class="row g-3" #individualloc="ngForm" (ngSubmit)="Ipassword(individualloc.value)">
              <div class="col-md-6">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" ngModel name="state" class="form-select" [(ngModel)]="statelga" required
                  #state="ngModel" (change)="getlga(state.value)">
                  <option value="">----</option>
                  <option *ngFor="let item of states" value="{{item.stateId}},{{item.stateName}}">{{item.stateName}}
                  </option>
                </select>
                <div class="alert alert-danger" role="alert" *ngIf="state.invalid && (state.dirty || state.touched)">
                  <small *ngIf="state.errors?.['required']">This field is required</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="lga" class="form-label">Lga</label>
                <select id="lga" ngModel name="lgaId" class="form-select" [(ngModel)]="creatorAccount.lgaId" required
                  #lgaId="ngModel">
                  <option value=0> ---- </option>
                  <option *ngFor="let item of lga" value="{{item.lgaId}}">{{item.lgaName}}</option>
                </select>
                <div class="alert alert-danger" role="alert" *ngIf="lgaId.invalid && (lgaId.dirty || lgaId.touched)">
                  <small *ngIf="lgaId.errors?.['required']">This field is required</small>
                </div>
              </div>
              <div class="col-12">
                <label for="street" class="form-label">Street</label>
                <input type="text" ngModel name="address" class="form-control" id="street"
                  [(ngModel)]="creatorAccount.address" required #street="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="street.invalid && (street.dirty || street.touched)">
                  <small *ngIf="street.errors?.['required']">This field is required</small>
                </div>
              </div>
              <div class="col-12 d-grid">
                <!-- (click)="Ipassword()" -->
                <button type="submit" class="btn btn-primary bgcolor" [disabled]="!individualloc.valid">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="page=='seven'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bIloc()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Password</h2>
            <p>Set your password</p>
            <form class="row g-3" #personalPassword="ngForm" (ngSubmit)="registerIndividual(personalPassword.value)">
              <div class="col-12">
                <label for="pass" class="form-label">Password</label>
                <input type="password" ngModel name="password1" class="form-control" id="pass"
                  [(ngModel)]="individualLog.password" [pattern]="passwordPtn" required #pass="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                  <small *ngIf="pass.errors?.['required']">This field is required</small>
                  <small *ngIf="pass.errors?.['pattern']">Password must be at least 8 characters, and must contain at
                    least a number, a capital letter, a small
                    letter an a special character.</small>
                </div>
              </div>
              <div class="col-12">
                <label for="cpass" class="form-label">Confirm password</label>
                <input type="password" ngModel name="password2" class="form-control" id="cpass" [(ngModel)]="password2"
                  required #cpass="ngModel">
                <div class="alert alert-danger" role="alert"
                  *ngIf="individualLog.password !== password2 && (cpass.touched||cpass.dirty)">
                  <!-- <small *ngIf="cpass.errors?.['required'] ">This field is required</small>  -->
                  <small>Password mismatch</small>
                </div>
              </div>
              <div class="col-12 d-grid">
                <button type="submit" class="btn btn-primary bgcolor"
                  [disabled]="!personalPassword.valid || (individualLog.password !== password2)">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- register personal ends -->

    <!-- register business starts here -->
    <ng-template [ngIf]="page=='eight'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="register()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Create account</h2>
            <p>Fill the form to create your business account</p>
            <form class="row g-3" #bussinessreg="ngForm" (ngSubmit)="BLoc(bussinessreg.value)">
              <div class="col-12">
                <label for="company" class="form-label">Company name</label>
                <input type="text" class="form-control" ngModel [(ngModel)]="bussinessReg.supplierName" name="company"
                  id="company" required #first="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="first.invalid && (first.dirty || first.touched)">
                  <small *ngIf="first.errors?.['required']">first name is required</small>
                </div>
              </div>
              <div class="col-12" data-dropup-auto="false">
                <select class="form-select" name="biztype" id="type" [(ngModel)]="bussinessReg.description" ngModel>
                  <option value="">Type of business</option>
                  <option *ngFor="let item of bizType">{{item.name}}</option>
                </select>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" ngModel [(ngModel)]="individualLog.email"
                  id="email">
              </div>
              <div class="col-12">
                <label for="phone" class="form-label">Phone number</label>
                <input type="tel" name="phone" class="form-control" [(ngModel)]="bussinessReg.mobileNumber" ngModel
                  id="phone">
              </div>
              <div class="col-12 d-grid">
                <!-- (click)="BLoc()" -->
                <button type="submit" class="btn btn-primary bgcolor">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="page=='nine'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bBusiness()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Create account</h2>
            <p>Please, let's know your location</p>
            <form class="row g-3" #bussinessloc="ngForm" (ngSubmit)="businessContact(bussinessloc.value)">
              <div class="col-md-6">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select" ngModel required #state="ngModel" [(ngModel)]="statelga"
                  name="state" (change)="getLgaBiz(state.value)">
                  <option value="" selected>----</option>
                  <option *ngFor="let item of states" value="{{item.stateId}},{{item.stateName}}">{{item.stateName}}
                  </option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="lga" class="form-label">Lga</label>
                <select id="lga" class="form-select" ngModel [(ngModel)]="bussinessReg.lgaId" name="lga">
                  <option value=0>lga</option>
                  <option *ngFor="let item of lga" value="{{item.lgaId}}">{{item.lgaName}}</option>
                </select>
              </div>
              <div class="col-12">
                <label for="address" class="form-label">Street</label>
                <input type="address" class="form-control" id="address" [(ngModel)]="bussinessReg.street"
                  name="address">
              </div>
              <div class="col-12 d-grid">
                <!-- (click)="businessContact()" -->
                <button type="submit" class="btn btn-primary bgcolor">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="page=='ten'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bBLoc()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Create account</h2>
            <p id="ctp">Fill the form to create the bussiness <b> contact person </b></p>
            <form class="row g-3" #contactperson="ngForm" (ngSubmit)="businessPassword(contactperson.value)">
              <div class="col-md-6">
                <label for="first" class="form-label">First name</label>
                <input type="text" class="form-control" name="first" [(ngModel)]="firstName" id="first">

              </div>
              <div class="col-md-6">
                <label for="last" class="form-label">Last name</label>
                <input type="text" class="form-control" id="last" name="last" [(ngModel)]="lastName">

              </div>
              <div class="col-12">
                <label for="date" class="form-label">Date of birth</label>
                <input max="2004-12-31" type="date" class="form-control" id="date" name="dob">

              </div>
              <div class="col-12">
                <label for="email" class="form-label">Phone number</label>
                <input type="tel" class="form-control" id="phone" [(ngModel)]="bussinessReg.primaryContactMobile"
                  name="phone">
              </div>
              <div class="col-12">
                <b>Gender</b>
              </div>
              <!-- <div class="col-md-10" id="gend" > -->
              <div class="form-check col-md-3">
                <input class="form-check-input" type="radio" name="gender"
                  [(ngModel)]="bussinessReg.primaryContactGender" id="male" value="M">
                <label class="form-check-label" for="male">
                  Male
                </label>
              </div>
              <div class="form-check disabled col-md-6">
                <input class="form-check-input" type="radio" name="gender"
                  [(ngModel)]="bussinessReg.primaryContactGender" id="female" value="F">
                <label class="form-check-label" for="female">
                  Female
                </label>
              </div>
              <div class="col-12 d-grid">
                <button type="submit" class="btn btn-primary bgcolor">Next</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </ng-template>

    <ng-template [ngIf]="page=='eleven'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bBusinessContact()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <h2>Password</h2>
            <p>Set your password</p>
            <form class="row g-3" #bussinessPassword="ngForm" (ngSubmit)="registerBusiness(bussinessPassword.value)">
              <div class="col-12">
                <label for="pass" class="form-label">Password</label>
                <input type="password" class="form-control" id="pass" name="password1"
                  [(ngModel)]="individualLog.password">

              </div>
              <div class="col-12">
                <label for="cpass" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="cpass" name="password2" [(ngModel)]="password2">
              </div>
              <div class="col-12 d-grid">
                <!-- (click)="otp()" -->
                <button type="submit" class="btn btn-primary bgcolor">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- register business ends here -->

    <!-- ////// OTP ///// -->
    <ng-template [ngIf]="page=='otp'">
      <div class="sectionin" @fade>
        <div class="frameemail">
          <h1>Check your Email</h1>
          <p>We've sent a secure code to your email</p>
          <p>Type in the secure code to verify your account</p>
          <img src="assets/images/undraw_Mail_sent_re_0ofv 1.png" alt="">
          <div>
            <form class="otp" #otpForm="ngForm">
              <input #txt1 maxlength="1" (keyup)="move($event,'',txt1,txt2)" type="password" name="txt1" ngModel>
              <span>-</span>
              <input #txt2 maxlength="1" type="password" (keyup)="move($event,txt1,txt2,txt3)" name="txt2" ngModel>
              <span>-</span>
              <input #txt3 maxlength="1" type="password" (keyup)="move($event,txt2,txt3,txt4)" name="txt3" ngModel>
              <span>-</span>
              <input #txt4 maxlength="1" type="password" (keyup)="move($event,txt3,txt4,txt5)" name="txt4" ngModel>
              <span>-</span>
              <input #txt5 maxlength="1" type="password" (keyup)="move($event,txt4,txt5,txt6)" name="txt5" ngModel>
              <span>-</span>
              <input #txt6 maxlength="1" type="password" (keyup)="move($event,txt5,txt6,'')" name="txt6" ngModel>
            </form>
          </div>
          <button (click)="getOtp(otpForm.value)" class="btn btn-primary bgcolor">Proceed</button>
          <button (click)="resendOtp()" id="resend" class="btn color">Resend Email</button>
        </div>
      </div>
    </ng-template>

    <!-- ///////// Reset password //////// -->
    <ng-template [ngIf]="page=='twelve'">
      <div class="sectionin" @fade>
        <div class="contain">
          <span id="backP" (click)="bHome()">
            <mat-icon>arrow_back_ios</mat-icon> <img src="assets/images/Logo.png" alt="">
          </span>
          <div class="bodyframe">
            <form class="formin">
              <h2>Forgot password ?</h2>
              <p class="color">A reset link would be sent to your email address</p>
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email">
              <button (click)="otp()">Reset your password</button>
            </form>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <ng-template [ngIf]="section == 'two'">
    <div class="section2">
      <div class="inner">
        <img src="assets/images/auth.jpg" alt="">
      </div>
    </div>
  </ng-template>


</div>
<ngx-spinner type="ball-scale-multiple">
  <p style="color: white"> Loading... </p>
</ngx-spinner>