<div class="planbudget">
    <div class="plan-budget">
      <div class="plan-budgetHeader">
        <div class="plan-budgetText">
          <h1 class="planBudgetTitle">
            Let’s tailor your budget to your event.
          </h1>
        </div>
        <img src="/assets/meet2.png" alt="" class="plan-budgetImg">
      </div>
      <div class="plan-budgetOverview">
        <div class="budgetOverviewTop">
          <h4>Event Overview</h4>
          <div class="budgetOverviewSelect">
            <select name="" id="">
              <option value="">Filter</option>
            </select>
          </div>
        </div>
        <div class="budgetOverviewContent">
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: green; font-weight: 300">🟢 Event Completed
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #f9a826; font-weight: 300">🟡 Event in progress
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #ff5b57; font-weight: 300">🔴 Event In Draft
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: green; font-weight: 300">🟢 Event Completed
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #f9a826; font-weight: 300">🟡 Event in progress
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-item">
            <div class="content-item-body">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                alt="" />
              <div class="item-title">
                <h2>Burna Live in Concert</h2>
                <p>Published</p>
              </div>
            </div>
            <div class="collaborators">
              <h4>Collaborators</h4>
              <div class="collab-body">
                <div class="collab-img">
                  <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" /><img style="margin-left: -16px"
                    src="https://ichef.bbci.co.uk/news/640/cpsprodpb/144EA/production/_110887138_burnaboypicture.jpg"
                    alt="" />
                  <div>
                    <p>+8</p>
                  </div>
                </div>
                <div class="completed">
                  <p>
                    <span style="color: #ff5b57; font-weight: 300">🔴 Event In Draft
                    </span>
                    Sept 26 2022
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>