<div class="engagement">
    <div class="engagement-container">
      <div class="engagement-header">
        <div class="engagement-title">ENGAGEMENT</div>
        <div class="engagement-title">PARTY</div>
        <div class="engagement-sub">HONORING</div>
      </div>
      <div class="engagement-name">
        <div class="wife">{{ wife }}</div>
        <div>&</div>
        <div class="husband">{{ husband }}</div>
      </div>
      <div class="engagement-dateadd">
        <div class="engagement-day">{{ day }}</div>
        <div class="engagement-date">{{ date_time }}</div>
        <div class="engagement-address">{{ location }}</div>
        <div>CARDS ONLY BUSY</div>
      </div>
      <div class="engagement-rsvp">
        <div class="rsvp">RSVP</div>
        <div class="phone">{{ phone }}</div>
      </div>
    </div>
  </div>