<div class="event">
  <div class="event-page">
    <div class="event-banner">
      <div class="event-img">
        <img
          src="https://cdn-az.allevents.in/events6/banners/6a99707868dd21455d51a4c21edcbcc1bbe31df71b995190bf1c3f13f17e7ee2-rimg-w960-h365-gmir.jpg?v=1655994414"
          alt="" />
      </div>
    </div>

    <div class="event-main">
      <div class="event-top">
        <div class="left">
          <h1 class="event-title">Arcade Fire</h1>
          <div class="event-desc">
            <p>Created by <span>You</span></p>
          </div>
        </div>
      </div>
      <div class="event-location">
        <div class="location-items">
          <mat-icon>event</mat-icon>
          <p>Tuesday, March 01</p>
        </div>
        <div class="location-items">
          <mat-icon>location_on</mat-icon>
          <p>Descasio Lounge</p>
        </div>
        <div class="location-items">
          <mat-icon>schedule</mat-icon>
          <p>4:00 PM WAT</p>
        </div>
      </div>

      <!-- CARDS -->
      <div class="cards">
        <div class="card-item estimate">
          <h3>Budget Estimate <mat-icon>more_horiz</mat-icon></h3>
          <h2>$3,100 <mat-icon>edit</mat-icon></h2>
        </div>
        <div class="card-item build">
          <h3>Budget Build <mat-icon>more_horiz</mat-icon></h3>
          <h2>$1,805 <button class="btn btn-primary">view</button></h2>
        </div>
        <div class="card-item act">
          <h3>Actualized <mat-icon>more_horiz</mat-icon></h3>
          <h2>$1,805</h2>
        </div>
        <div class="card-item plan">
          <img class="card-img" src="/assets/images/Group 663.png" alt="" />
          <div class="p">
            <p>🟩 Budget Build</p>
            <p>🟦 Actualized</p>
          </div>
        </div>
      </div>
      <!-- category -->
      <div class="category">
        <div class="categories" (click)="openXl(content)">
          <h2>Request Categories</h2>
          <div class="categories_add">
            <mat-icon>add</mat-icon>
          </div>
        </div>
        <div class="cards">
          <div class="cat-item cat" *ngFor="let item of selected" (click)="foodToggle(item.categoryName)">
            <img class="cat-img" src="/assets/images/food.png" alt="" />
            <div class="cat-text">
              <h3>{{item.categoryName}}</h3>
              <p>135 vendors registered under this category</p>
            </div>
            <p class="cancel" (click)="removeFood(item)">❌</p>
          </div>
        </div>
      </div>
    </div>


    <!-- <ng-container *ngIf="toggle"> -->
    <ng-template [ngIf]="page == 'list'">
      <!-- <app-foodvendor> </app-foodvendor> -->
      <div class="foodVendor">
        <!-- left -->
        <div class="foodVendor__left">
          <div class="foodVendor__filter">
            <div class="foodVendor__filter-header">
              <h2>Filter</h2>
              <button>Reset</button>
            </div>
            <div class="foodVendor__filter-search">
              <input type="text" #searchtext />
              <!-- {{ searchtext.value }} -->
              <div class="foodVendor__filter-btn">
                <img src="/assets/search.png" alt="" />
              </div>
            </div>
            <hr class="foodVendor__hr" />
            <div class="foodVendor__filter-location">
              <h4>Location</h4>
              <select name="" id="">
                <option value="">Select Location</option>
              </select>
            </div>
            <hr class="foodVendor__hr" />
            <div class="foodVendor__filter-budget">
              <h4>Budget Range</h4>
              <div class="foodVendor__filter-range">
                <div class="min">
                  <p>3$</p>
                  <P>Min.</P>
                </div>
                <div class="max">
                  <p>500$</p>
                  <P>Min.</P>
                </div>
              </div>
              <div class="foodVendor__filter-budgetProgress">
                <progress id="file" value="400" max="500">32%</progress>
                <div class="foodVendor__filter-progressBtn">
                  <button>20</button>
                  <p>-</p>
                  <button>100</button>
                </div>
              </div>
              <hr class="foodVendor__hr" />
              <div class="foodVendor__filter-budgetSubmit">
                <button>Apply Filter</button>
              </div>
            </div>
          </div>
        </div>
        <!-- right -->
        <div class="foodVendor__right">
          <div class="foodVendor__right-header">
            <div class="foodVendor__right-headerTitle">
              <h2>Looking for food vendors?</h2>
              <div class="foodVendor__right-headerRight">
                <p>Sort by:</p>
                <select name="" id="">
                  <option value="">Popularity</option>
                </select>
              </div>
            </div>
            <p class="foodVendor__found">
              Found 12 items on your search
            </p>
          </div>
          <div class="foodVendor__bottom">
            <div class="foodVendor__vendors">
              <!-- <app-vendor ></app-vendor> -->
              <!-- ////////////////  Vendor ////////////// -->

              <div class="vendors">
                <div class="vendor-item" *ngFor="let vendor of vendordata">
                  <img [src]="vendor.image ? vendor.image: '/assets/images/person.jpg'" alt="" />
                  <div class="item-header">
                    <h3>{{ vendor.vendorName}}</h3>
                    <small>{{ vendor.location }}</small>
                    <p class="item-body">
                      {{ vendor.supplierDescription}}
                    </p>
                    <p class="item-rating">
                      ⭐⭐⭐⭐⭐ <span>[{{ vendor.rating }} reviews]</span>
                    </p>
                  </div>
                  <div class="item-btn">
                    <button type="button" (click)="detailPage(vendor.supplierId)">Select</button>
                  </div>
                </div>
              </div>
              <!-- ///////////////////////// Vendor End   /////////////////////// -->

            </div>
            <div class="foodVendor__bottom-btn">
              <button>Load More</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>


    <!-- ///////////////////////////  Vendor Detail Detail ///////////////// -->
    <ng-template [ngIf]="page == 'detail'">
      <!-- <app-food-detail></app-food-detail> -->
      <div class="foodDetails">
        <div class="foodDetails__header">
          <div class="foodDetails__header-back">
            <h2 class="foodDetails__header-backText"><mat-icon>arrow_back_ios</mat-icon> Back</h2>
          </div>
          <div class="foodDetails__header-sort">
            <h4 class="foodDetails__header-sortText">Sort By</h4>
            <select name="" id="">
              <option value="">Popularity</option>
            </select>
          </div>
        </div>
        <p class="foodDetails__header-search">Found {{vendorServices.length}} items on your serach</p>
        <div class="foodDetails__bottom">
          <div class="foodDetails__left">
            <div class="foodDetails__food-img">
              <!-- <img src="{{ vendor.image }}" />
              <div class="carousel">
                <img src="/assets/less.png" alt="" />
                <hr class="active" />
                <hr />
                <hr />
      
                <img src="/assets/great.png" alt="" />
              </div> -->
              <!-- <app-carousel></app-carousel> -->
              <!-- //////////// Carousel ///////////// -->

              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let item of carousel; let i index">
                  <div class="picsum-img-wrapper">
                    <img [src]="item ? item : '/assets/images/person.jpg'" alt="Random first slide" />
                  </div>
                </ng-template>

              </ngb-carousel>


              <!-- ////////////////// Carousel Ends ///////// -->
              <div class="foodDetails__food-title">
                <h2>{{vendorDetail.vendorName}}</h2>
                <p class="foodDetails__item-rating">
                  ⭐⭐⭐⭐⭐
                  <span class="foodDetails__review">[{{vendorDetail.reviews}} reviews]</span>
                </p>
                <p>
                  <span class="foodDetails__location"><mat-icon>location_on</mat-icon>{{vendorDetail.location}}</span>
                </p>
              </div>
              <div class="foodDetails__food-description">
                <mat-tab-group mat-align-tabs="start">
                  <mat-tab label="Description">
                    <p>
                      {{vendorDetail.serviceDescription}}
                    </p>
                  </mat-tab>
                  <mat-tab label="Review">
                    <p>{{vendorDetail.reviews}}</p>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
          <div class="vl"></div>

          <div class="foodDetails__right">
            <div class="foodDetails__service">
              <div class="foodDetails__service-head">
                <div class="foodDetails__service-title">
                  <h2>Services</h2>
                  <p>Found {{vendorServices.length}} Items on your search</p>
                </div>
                <div class="foodDetails__service-search">
                  <input type="text" placeholder="Search services" />
                  <div class="foodDetails__service-btn">
                    <img src="/assets/search.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="foodDetails__service-body">
                <div class="foodDetails__service-items">
                  <div class="foodDetails__service-item" *ngFor="let item of vendorServices">
                    <div class="foodDetails__service-left">
                      <div class="foodDetails__service-itemImg">
                        <img [src]="item.imageUrls[0] ? item.imageUrls[0] : '/assets/images/person.jpg'" alt="" />
                      </div>
                      <div class="foodDetails__service-itemDesc">
                        <h3>{{item.serviceName}}</h3>
                        <p>{{item.serviceDescription}}</p>
                        <h3>&#8358; {{item.price}}</h3>
                      </div>
                    </div>
                    <div class="foodDetails__service-right">
                      <button class="foodDetails__btn">-</button>
                      <span class="foodDetails__btnSpan">3</span>
                      <button class="foodDetails__btn">+</button>
                      <button class="foodDetails__btn-add">Add to Plan</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- /////////////////////////  Vendor Detail End ///////////////// -->
    <!-- </ng-container> -->

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Food Vendor</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <div class="categories__modal">
          <div class="categories__modal-header">
            <h3 class="categories__modal-headerTitle">
              Select list of request categories you need for your event
            </h3>
            <p class="categories__modal-headerText">You can select multiple times</p>
          </div>
          <!-- (dblclick)="vendor.active = !vendor.active" -->

          <!-- [className]="
            toggleFood
                  ? 'categories__modal-bodyItems-active categories__modal-bodyItems'
                  : 'categories__modal-bodyItems-notActive categories__modal-bodyItems'
              " -->

          <div class="categories__modal-body">
            <div *ngFor="let vendor of vendorCategories;let i = index" (click)="selectFood(i,vendor)"
              class=" categories__modal-bodyItems" [ngClass]="{'categories__modal-bodyItems-active':toggleFood == i,
          'categories__modal-bodyItems-notActive':  toggleFood != i}">
              <img class="categories__modal-bodyImg" src="/assets/images/food.png" alt="" />
              <p class="categories__modal-bodyText " [style.color]="vendor.color">{{ vendor.categoryName }}</p>
            </div>
          </div>
          <div class="categories__modal-btn">
            <button class="categories__modal-btnCancel" (click)="modal.close('Close click')">Cancel</button>
            <button class="categories__modal-btnContinue">Continue</button>
          </div>
        </div>
      </div>

    </ng-template>

  </div>
</div>